<footer class="footer footer--one" th:fragment="footer">
    <div class="container">
        <div class="footer__top">
            <div class="row">
                <!-- Brand Information -->
                <div class="col-lg-4">
                    <div class="footer__brand-info">
                        <div class="footer__brand-info-logo">
                            <img th:src="@{/images/assets/logo.png}" style="display:block; width:250px; height:auto;"
                                 alt="logo"/>
                        </div>
                        <p class="font-body--md-400">TooGoodToWaste este o aplicație unică unde alimentele în exces sau
                            aproape expirate primesc o a doua șansă, ajungând la utilizatori care le pot valorifica.</p>
                        <div class="footer__brand-info-contact">
                            <a href="#"><span>(219)555-0114</span></a>
                            or
                            <a href="#"><span>toogoodtowaste@gmail.com</span></a>
                        </div>
                    </div>
                </div>
                <!-- My Account -->
                <div class="col-lg-2 col-md-3 col-6">
                    <ul class="footer__navigation">
                        <li class="footer__navigation-title">
                            <h2 class="font-body--lg-500">Contul meu</h2>
                        </li>
                        <li class="footer__navigation-link">
                            <a href="#">Cont</a>
                        </li>
                        <li class="footer__navigation-link">
                            <a href="#">Istoric comenzi</a>
                        </li>
                        <li class="footer__navigation-link">
                            <a href="#">Coș de cumpărături</a>
                        </li>
                        <li class="footer__navigation-link">
                            <a href="#">Lista de dorințe</a>
                        </li>
                    </ul>
                </div>
                <!-- Categories -->
                <div class="col-lg-2 col-md-3 col-6">
                    <ul class="footer__navigation">
                        <li class="footer__navigation-title">
                            <h2 class="font-body--lg-500">Categorii</h2>
                        </li>
                        <li class="footer__navigation-link">
                            <a href="#">Fructe</a>
                        </li>
                        <li class="footer__navigation-link">
                            <a href="#">Legume</a>
                        </li>
                        <li class="footer__navigation-link">
                            <a href="#">Carne</a>
                        </li>
                        <li class="footer__navigation-link">
                            <a href="#">Conserve</a>
                        </li>
                    </ul>
                </div>
                <!-- Helps -->
                <div class="col-lg-2 col-md-3 col-6">
                    <ul class="footer__navigation">
                        <li class="footer__navigation-title">
                            <h2 class="font-body--lg-500">Ajutor</h2>
                        </li>
                        <li class="footer__navigation-link">
                            <a href="#">Contact</a>
                        </li>
                        <li class="footer__navigation-link">
                            <a href="#">Faq</a>
                        </li>
                        <li class="footer__navigation-link">
                            <a href="#">Termeni & condiții</a>
                        </li>
                        <li class="footer__navigation-link">
                            <a href="#">Confidențialitate</a>
                        </li>
                    </ul>
                </div>
                <!-- Proxy -->
                <div class="col-lg-2 col-md-3 col-6">
                    <ul class="footer__navigation">
                        <li class="footer__navigation-title">
                            <h2 class="font-body--lg-500">Despre</h2>
                        </li>
                        <li class="footer__navigation-link">
                            <a href="#">Despre noi</a>
                        </li>
                        <li class="footer__navigation-link">
                            <a href="#">Magazin</a>
                        </li>
                        <li class="footer__navigation-link">
                            <a href="#">Asistent AI</a>
                        </li>
                        <li class="footer__navigation-link">
                            <a href="#">Blog</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer__bottom">
            <p class="footer__copyright-text">TooGoodToWaste © 2025. All Rights Reserved</p>
            <div class="footer__partner d-flex">
                <a href="#" class="footer__partner-item">
                    <img th:src="@{/images/card/card-1.png}" alt="img" style="width: 45px; height: auto;"/>
                </a>
                <a href="#" class="footer__partner-item">
                    <img th:src="@{/images/card/card-2.png}" alt="img" style="width: 45px; height: auto;"/>
                </a>
                <a href="#" class="footer__partner-item">
                    <img th:src="@{/images/card/card-3.png}" alt="img" style="width: 45px; height: auto;"/>
                </a>
                <a href="#" class="footer__partner-item">
                    <img th:src="@{/images/card/card-4.png}" alt="img" style="width: 45px; height: auto;"/>
                </a>
                <a href="#" class="footer__partner-item">
                    <img th:src="@{/images/card/card-5.png}" alt="img" style="width: 65px; height: auto;"/>
                </a>
            </div>
        </div>
    </div>
</footer>